*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
ul,li{
	list-style: none;
}
body{
	background: #eeeeee;
}
.main1{
	height: 4.375rem;
	width: 100%;
	background: #fff;
	margin-top: 0.328125rem;
	border-bottom: 2px solid #dfdfdf;
	border-top: 2px solid #dfdfdf;

}
.main1 dl dd{
	font-size: 0.46875rem;
	color: #848484;
	margin-top: 0.75rem;
}
.main1 dl{
	text-align: center;
	margin-top: 1.35rem;
}
.main1 dl img{
	width:1.1875rem;
	height:1.1875rem;
}
.main2{
	height: 6.5625rem;
	width: 100%;
	border-bottom: 2px solid #dfdfdf;
	border-top: 2px solid #dfdfdf;
	margin-top: 0.3125rem;
	background: #fff;
}
.main2 dl{
	text-align: center;
	margin-top: 1.09375rem;
}
.main2 dl img{
	width:4rem;
	height:2.40625rem;
}
.main2 dl dd{
	font-size: 0.46875rem;
	line-height: 0.9375rem;
}
.main2 dl dd a{
	font-size: 0.46875rem;
	font-weight: bold;
}
